@import 'https://cdn.jsdelivr.net/npm/typed.js@2.0.12';

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
  }

  .active{
    background-color:#ffffff81;
  }